@keyframes chartIn {
    from {
        position: absolute;
        left: -300%;;
    }

    to {
        position: absolute;
        left: 0%;
    }
}

@keyframes chartOut {
    from {
        position: absolute;
        left: 0%;
    }

    to {
        position: absolute;
        left: -300%;
    }
}
.chartContainer{
    position: relative;
    top:-6%;
    margin: 0px auto;
    height: 600px;
    width: 1000px;
}
.openChartBTN {
    height: 56px;
    width: 100px;
    border-radius: 20px;
    color: rgb(3, 2, 2);
    background-color: rgb(68, 156, 108);
    position: fixed;
    left: 2%;
    bottom: 3%;
    transition: ease-in 0.4s;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    z-index: 3;
}

.openChartBTN:hover {
    box-shadow: inset 150px 0px 50px 0px rgb(133, 223, 200);
    cursor: pointer;
}
.chart {
    animation-name: chartIn;
    animation-duration: 2s;
    position: absolute;
    left:0%;
    top:0%;
    padding-left: 40px;
    padding-bottom: 20px;
    height: 600px;
    width: 1000px;
    border-top: 1px solid #ccc;
    background: linear-gradient(to top, #ccc 0, #ccc 1px, transparent 1px);
    background-size: 100% 30px;
    background-color: white;
    z-index: 2;
}

.chart::after {
    content: '\a 200000 \a 160000 \a 120000 \a 80000 \a 40000 \a 0 \a -40000 \a --80000 \a -120000 \a -160000 \a -200000 ';
    line-height: 60px;
    white-space: pre;
    position: absolute;
    font-size: 12px;
    top: -85px;
    left: 0rem;
    text-align: right;
}
.chartDel {
    position: absolute;
    left: -400%;
    top:0%;
    height: 600px;
    width: 1000px;
    animation-name: chartOut;
    animation-duration: 2s;
    margin: 0px auto;
    padding-left: 40px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
    background: linear-gradient(to top, #ccc 0, #ccc 1px, transparent 1px);
    background-size: 100% 30px;
    background-color: white;
    z-index: 2;
}
.chartDel::after {
    content: '\a 200000 \a 160000 \a 120000 \a 80000 \a 40000 \a 0 \a -40000 \a --80000 \a -120000 \a -160000 \a -200000 ';
    line-height: 60px;
    white-space: pre;
    position: absolute;
    font-size: 12px;
    top: -85px;
    left: 0rem;
    text-align: right;
}

.nonDisplay {
    display: none;
}



.result-bg {
    background: rgba(241, 241, 241, 0.5);
    display: inline-block;
    position: relative;
    width: 70px;
    height: 100%;
    margin-left: 20px;
    
}

.result-bg::after {
    content: attr(data-year)'年';
    font-size: 12px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
}

.result-bar {
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 0;
}
.result-bar2 {
    width: 100%;
    background: #db7568;
    position: absolute;
    left: 0;
}
  