html,body {
  background-color: rgb(205, 248, 234);
  margin: 0px;
  padding: 0px;
}
th,tr{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
