.tableList {
    position: relative;
    width: 884px;
    margin:0px auto;;
    background-color:white;
}
.listDelBtn{
    position:absolute;
    z-index: 1;
    width: 48px;
    height: 22px;
    background-color:rgb(233, 0, 0);
    color: rgb(255, 255, 255);
    border: 0px;
    margin: 0px;
    cursor: pointer;
}

.listDelBtn:hover{
    width: 48px;
    height: 22px;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    color: rgb(243, 17, 17);
    border: 0px;
    cursor: pointer;
}